.header {
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.logo {
    width:200px;
    padding:10px;
}
.nav-items{
    padding:14px;
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding:10px;
    margin:10px;
}

.res-container {
    display: flex;
    flex-wrap:wrap;
}

.res-card{
    margin:5px;
    width: 200px;
    padding:5px;
}
.res-card:hover{
    cursor: pointer;
    border:1px solid black;
}
.filter-btn {
    padding: 8px;
    border: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    
}

.res-logo {
    width:80%;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;

}

.shimmer-card {
    height: 400px;
    width:200px;
    margin:10px;
    background-color: gainsboro;
}

.btn-login {
    padding: 0 10;
    margin: 10px;
}
.filter{
    cursor: pointer;
}

.search {
    cursor:pointer;
}